.FilterButton {
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin: 0 2px;
  background: var(--general-body-color);
  border: 1px solid var(--general-border-color);
}

.Filter-Box {
  margin: 0;
  color: var(--general-font-color);
  font-weight: 800;
  font-family: "Toxigenesis";
}

.Filter-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Filter-bar h2 {
  font-size: 20px;
}

.Filter-label {
  display: inline-block;
  margin: 2%;
}
