.Footer {
  grid-row: 3/4;
  margin-top: 1px;
}

.FooterNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Toxigenesis";
  font-size: 1.8vh;
  color: var(--general-font-color);
  border: 2px solid var(--general-border-color);
  background: var(--general-box-color);
}
