.Footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
  color: var(--general-font-color);
  border: 0.2em solid var(--general-border-color);
  background: var(--background-body-color);
}

.FooterNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FooterButton {
  background: var(--background-body-color);
  color: var(--general-font-color);
  font-family: "Toxigenesis";
  border: 0.2em solid var(--general-border-color);
  border-radius: 0.5em;
  font-size: 1.5em;
}
