 
.Loaded-Patches {
  font-family: "Toxigenesis";
  position: absolute;
  background-color: var(--background-body-color);
  margin-bottom: 160%;
  z-index: 9999;
  border: 5px solid var(--general-border-color);
  border-radius: 15px;
  width: 85%;
  height:70%;
}

.List-Container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
}

.Loaded-List {
  text-align:left;
}


.Loaded-List-Item {
    list-style-type: none;
    color: var(--general-border-color);  
}

.LoadButton{
    border: 4px solid var(--general-border-color);
    font-family:"Toxigenesis";
    font-size:1.3em;
    border-radius:10px;
    margin:3%;
}