.Vco-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.Change {
  border-radius: 6px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0.2em;
  background-color: var(--general-body-color);
  border: 0.3em solid var(--general-border-color);
}

.Change-Active {
  border-radius: 6px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0.2em;
  color: aquamarine;
  border: 0.3em solid aquamarine;
}

.Input-Label {
  margin: 0.4em;
}

h2 {
  font-size: 20px;
}
