.Save-Patch {
  font-family: "Toxigenesis";
  position: absolute;
  background-color: var(--background-body-color);
  border: 5px solid var(--general-border-color);
  border-radius: 15px;
  width: 85%;
  height: 70%;
  top: 7rem;
  left: 1.8rem;
}

.SaveButton {
  border: 4px solid var(--general-border-color);
  font-family: "Toxigenesis";
  font-size: 1.2em;
  border-radius: 10px;
  margin-top: 1em;
}

.ExitButton {
  border: 4px solid var(--general-border-color);
  font-family: "Toxigenesis";
  font-size: 1.2em;
  border-radius: 10px;
  margin-top: 1em;
}
