.Touchpad {
  height: 200px;
  width: 300px;
  border: var(--general-border-color);
  border-radius: 15px;
  position: relative;
  touch-action: none;
  background: var(--general-box-color);
  border: 2px solid var(--general-border-color);
  margin-bottom: 2%;
}

.box {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-radius: 50%;
  background: linear-gradient(145deg, #7aca57, #90f068);
  box-shadow: 2px 2px 8px #73be52, -1px -1px 8px #9bff70;
  position: absolute;
  transform: translate(-15px, -15px);
  touch-action: none;
  pointer-events: none;
}
