.FooterNav {
  width: 89vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-family: "Toxigenesis";
  font-size: 1.8vh;
  color: white;
}
