.Footer {
  grid-row: 3/4;
  width: 98vw;
  border: 3px solid white;
  border-radius: 15px;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00010;
}

.FooterNav {
  margin-top: 0.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Toxigenesis";
  font-size: 1.8vh;
  color: white;
}
