@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 15vh auto 10vh;
  height: 100vh;
  background: #000;
}

.App-Header {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 2px solid white;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #f00030, inset -5px -5px 10px #f00010;
}

.Nav-Bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 1.5em;
}

.App-Main {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-Footer {
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Touchpad {
  height: 30%;
  width: 30%;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 15px;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00090;
}

.Slider {
  text-decoration: none;
  font-family: "Toxigenesis";
  color: white;
  font-weight: 800;
  border: 3px solid white;
  border-radius: 10px;
  margin: 0 7%;
  padding: 2%;
  font-size: 90%;
  font-weight: 200;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00010;
}

input {
  margin: 20px;
}

.Value {
  color: #f00;
}

.App-Footer {
  color: #f00;
  display: flex;
  justify-content: space-between;
  border: 3px solid white;
  border-radius: 15px;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00010;
}

.Function-Board {
  border: 2px solid white;
  font-family: "Toxigenesis";
  color: white;
  border-radius: 15px;
  width: 250px;
  height: 200px;
  margin: 1vh auto;
  border-radius: 15px;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00010;
}

.Function-Board h2 {
  font-size: 1em;
}

.Function-Board input {
  margin: 0 auto;
}

.Icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Vco-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Vco-bar h2 {
  text-align: left;
}

.Filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Filter-Box {
  background-color: #ccc;
}

.Amp-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.OnOff_Board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.OnOff {
  margin: 0 10%;
  font-size: 1.5em;
}
