@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 


.App {
  text-align: center;
}

.App-Header {
  font-family:"Press Start 2P";
  font-size: 35px;
  color: #f00;
  margin:10%;

}

.Touchpad {
  height: 200px;
  width: 200px;
  border: 3px solid #f00;
  border-radius: 15px;
  margin: 0 auto;
}

.Btn {
  padding: 3%;
  margin: 15px;
  font-family: "Orbitron";
  border: 3px solid #f00;
  color: #f00;
  background: #fff;
}

.Slider {
  text-decoration: none;
  font-family: "Orbitron";
  color: #f00;
  margin: 5px;
  font-weight:800;
  border: 3px solid #f00;
  border-radius: 8px;
  padding:2%;
  font-size:15px;
}

input {
  margin: 20px;
}

.Value {
  color: #f00;
}

.App-Footer{
  color:#f00;
  display:flex;
  justify-content:space-between;
}

.Function-Board{
  border:3px solid #f00;
  font-family:Orbitron;
  color:#f00;
  border-radius: 15px;
  width:200px;
  height:200px;
  margin:4vh auto;
}

.Function-Board h2{
  font-size:15px;
}

.Function-Board input{
  margin:0 auto;
}

.Vco-bar{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

.Filter-bar{
 display:flex;
 flex-direction:row;
 justify-content:space-around;
}

.Amp-bar{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
