@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  height: 100vh;
  background: #0c0d0d;
}

.App-Header {
  grid-row: 1/2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #f00030, inset -5px -5px 10px #f00010;
}

.Nav-Bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
  font-size: 1.2em;
}

.App-Main {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-Footer {
  grid-row: 3/4;
  display: flex;
  align-items: center;
  color: #f00;
  border: 2px solid white;
  border-radius: 15px;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00010;
}

.Slider {
  text-decoration: none;
  font-family: "Toxigenesis";
  color: white;
  font-weight: 800;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1% 2.5%;
  margin: 0 2.1%;
  font-size: 90%;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00010;
}

input {
  margin: 20px;
}

.Value[type="range"] {
  -webkit-appearance: none;
  width: 75%;
  background: #ff0000;
  height: 1.5%;
  margin-bottom: 1.5%;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ff0015, 0px 0px 1px #8d0000;
}

.Value[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #2afd00, 0px 0px 1px #b1fd00;
  border: 1px solid #00fc15;
  height: 400%;
  width: 10%;
  border-radius: 50px;
  background: #34eb67;
  cursor: pointer;
}

.Function-Board {
  border: 2px solid white;
  font-family: "Toxigenesis";
  color: white;
  border-radius: 15px;
  width: 250px;
  margin: 2%;
  background: #b6000c;
  box-shadow: inset 5px 5px 10px #7c0008, inset -5px -5px 10px #f00010;
}

.Function-Board p {
  font-size: 1em;
  padding: 1%;
}

.Function-Board input {
  margin: 0;
}

.Icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Amp-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.OnOff_Board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.OnOff {
  margin: 0 10%;
  font-size: 1.5em;
}
