@import "./components/css/Color.css";

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  grid-template-columns: 3vh auto 3vh;
  height: 100vh;
  width: 100vw;
  background: var(--general-body-color);
}

.App-Header {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.13em solid var(--general-border-color);
  background: var(--general-box-color);
}

.Nav-Bar {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  font-size: 1.2em;
  width: 100%;
}

.App-Main {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Slider {
  text-decoration: none;
  font-family: "Toxigenesis";
  color: var(--general-font-color);
  font-weight: 800;
  border: 0.15em solid var(--general-border-color);
  border-radius: 0.7em;
  padding: 0.4rem;
  background: var(--general-box-color);
}

.Slider-Active {
  text-decoration: none;
  font-family: "Toxigenesis";
  color: var(--general-body-color);
  font-weight: 800;
  border: 0.15em solid var(--general-border-color);
  border-radius: 0.7em;
  padding: 0.4rem;
  background: var(--general-border-color);
}

.Start-Button {
  border: 0.2em solid var(--general-font-color);
  border-radius: 0.6em;
  background: var (--general-box-color);
  padding: 0 0.3em;
}

.Start-Button-Active {
  border: 0.2em solid var(--general-border-color);
  border-radius: 0.6em;
  background: var (--general-border-color);
  color: var(--general-border-color);
  padding: 0 0.3em;
}

.Nav-Bar-Font {
  text-align: center;
  margin: 0;
}

.Value[type="range"] {
  -webkit-appearance: none;
  width: 75%;
  background: var(--general-body-color);
  height: 0.2em;
  margin-bottom: 1.5%;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #000;
  background: #000;
  margin: 1.3rem, 0;
}

.Value[type="range"]::-moz-range-thumb {
  box-shadow: -1px -1px -1px #2afd00, 2px 2px 2px #b1fd00;
  border: 1px solid var(--general-border-color);
  height: 1.5em;
  width: 1em;
  background: #34eb67;
  border-radius: 0;
  cursor: pointer;
}

.Function-Board {
  border: 0.15em solid var(--general-border-color);
  font-family: "Toxigenesis";
  color: var(--general-font-color);
  border-radius: 15px;
  width: 19em;
  margin: 2%;
  padding: 2%;
  background: var(--background-body-color);
}

.Function-Board input {
  margin: 0;
}

.Icons {
  display: flex;
  justify-content: space-around;
}

.Amp-bar {
  display: flex;
  justify-content: space-around;
}

.OnOff_Board {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: var(--general-font-color);
}
